*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapper {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    gap: 10px;
}
ul{
    border:  2px solid black;
    padding: 20px;
    list-style-position: inside;
}
p{
    border:  2px solid black;
    padding: 20px;
}
h2{
    border:  2px solid black;
    padding: 20px;
}
